@import url('pazvanka.css');

:root {
	--r1-theme-color: #2e323c;
	--r1-theme-color-rgb: 46, 50, 60; 
	--r1-text--buttons-color: #ffffff; 

	--r2-theme-color: #ffffff;
	--r2-theme-color-rgb: 255, 255, 255; 
	--r2-text--buttons-color: #000000; 

	--r3-theme-color: #000000;
	--r3-theme-color-rgb: 0, 0, 0; 
	--r3-text--buttons-color: #ffffff;

	--t1-theme-color: var(--r1-theme-color);
	--t2-theme-color: var(--r2-theme-color);;
}

/*cover*/
.cover-invitation{
	position: relative;
	padding: 3.5rem 0 4.5rem 0;
	background: linear-gradient(180deg,rgba(0,4,10,0.36) 68%,#000c0f 100%), url(../img/cover.jpg);
	background-size: cover;
	background-position: center;
}
.cover-invitation .modal-body{
	display: flex !important;
	flex-direction: column !important;
	justify-content: space-between !important;
}
.cover-invitation .bride-cover h2{
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	font-size: 26px;
	color: var(--r2-theme-color);
	margin-bottom: 1rem;
}
.cover-invitation .bride-cover p{
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: var(--r2-theme-color);
	margin-bottom: 2rem;
}
.cover-invitation .bride-cover h1{
	font-family: Whitehella;
	font-size: 36px;
	color: var(--r2-theme-color);
}
.cover-invitation .open .btn{
	font-family: 'Pacifico', cursive;
}
.cover-invitation .guest-cover h2{
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: var(--r2-theme-color);
	margin-bottom: 8px;
}
.cover-invitation .guest-cover p{
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: var(--r2-theme-color);
	margin-bottom: 8px;
}
/*header*/
.header{
	position: relative;
	padding: 3.5rem 0 3.5rem 0;
	height:100vh;
	width:100%;
	background: linear-gradient(180deg,rgba(0,0,0,0) 74%,var(--r1-theme-color) 100%), url(../img/header.jpg);
	background-size: cover;
	background-position: center;
	display: flex !important;
	flex-direction: column-reverse !important;
}
.header .content p{
	font-family: 'Abhaya Libre', serif;
	font-weight: 500;
	font-size: 19px;
	color: var(--r2-theme-color);
}
.header .content h1{
	font-family: Whitehella;
	font-size: 36px;
	color: var(--r2-theme-color);
	margin: 2rem 0;
}
.header .content i{
	font-size: 28px;
	color: var(--r2-theme-color);
	margin-top: 2rem;
}
/*quotes*/
.quotes{
	position: relative;
	background-color: var(--r1-theme-color);
	padding: 1.5rem 2rem;
} 
.quotes img{
	width: 100px;
	margin-bottom: 16px;
}
.quotes p{
	font-family: 'Abhaya Libre', serif;
	font-weight: 500;
	font-size: 18px;
	color: var(--r2-theme-color);
}
.quotes .quotes-img{
	padding: 3rem 0;
}
.quotes .card {
	border-width: 0px;
}
.quotes .card .card-body {
	border-top-width: 8px;
    border-top-style: double;
    border-top-color: var(--r1-theme-color);
}
.quotes-border-1 {
	border-radius: 0 30px 0 30px;
}
.quotes-border-2 {
	border-radius: 30px 0 30px 0;
}
.quotes .quotes-img .card .card-img-1{
	height: 350px;
	width: 100%;
	background: url(../img/quote1.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 0 30px 0 0; 
}
.quotes .quotes-img .card .card-img-2{
	height: 350px;
	width: 100%;
	background: url(../img/quote2.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 30px 0 0 0; 
}
.quotes .card-body p{
	color: var(--r3-theme-color);
}
/*bridegroom*/
.bridegroom{
	position: relative;
	padding: 3.5rem 0;
	background-color: var(--r2-theme-color); 
} 
.bridegroom h3{
	font-family: 'Cinzel', serif;
	font-size: 25px;
	color: var(--r1-theme-color);
}

.bridegroom img{
	width: 200px;
	margin: auto;
}

.bridegroom h1{
	font-family: Whitehella;
	font-size: 36px;
	color: var(--r1-theme-color);
	padding: 32px 0;
}

.bridegroom h2{
	font-family: 'DM Serif Display', serif;
	font-size: 28px;
	color: var(--r1-theme-color);
}

.bridegroom p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: var(--r3-theme-color);
}

.bridegroom a{
	text-decoration: none
	font-size: 2rem;
	color: var(--r1-theme-color);
}
/*story-line*/
.story-line{
	position: relative;
	padding: 1rem 0 3.5rem 0;
	background-color: var(--r2-theme-color);
}

.story-line .container .title-story{
	font-family: 'Cinzel', serif;
	font-size: 25px;
	text-align: center;
	color: var(--r1-theme-color);
	margin-bottom: 3rem;
}
/*date-wedding*/
.date-wedding{
	position: relative;
	background-color: var(--r1-theme-color);
	padding: 3rem 2rem; 
}
.date-wedding .card-body{
	padding: 3rem 1rem;
	text-align: center;
}
.date-wedding .card-body h1{
	font-family: 'Cinzel', serif;
	font-size: 30px;
	color: var(--r1-theme-color);
}
.date-wedding .card-body p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--r3-theme-color);
}
.date-wedding .card-body h2{
	font-family: 'DM Serif Display', serif;
	font-size: 20px;
	color: var(--r1-theme-color);
}
.date-wedding .bg-date1{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/date1.jpg);
	background-size: cover;
	background-position: center;
}
.date-wedding .bg-date2{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/date2.jpg);
	background-size: cover;
	background-position: center;
}
.date-wedding .bg-date3{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/date3.jpg);
	background-size: cover;
	background-position: center;
}
/*rsvp*/
.rsvp{
	position: relative;
	padding: 3.5rem 1.5rem;
	background-color: var(--r2-theme-color); 
}
.rsvp-title h1{
	font-family: 'Cinzel', serif;
	font-size: 42px;
	margin-bottom: 8px;
	color: var(--r3-theme-color);
}
.rsvp-title p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--r3-theme-color);
}
.card-rsvp{
	position:relative;
	background-color: var(--r2-theme-color);
	max-width: 500px;
	padding: 1rem;
	text-align: center;
	border-width: 8px;
	border-style: double;
	border-color: var(--r1-theme-color);
}
.card-rsvp-header{
	margin-bottom: 30px;
}
.card-rsvp-header h1{
	font-family: Whitehella;
	font-size: 36px;
	color: var(--r1-theme-color);
	padding-top: 18px;
}
.card-rsvp-header p{
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	color: var(--r3-theme-color);
}
.card-rsvp-body{
	margin-bottom: 30px;
}
.card-rsvp-body p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--r3-theme-color);
}
.card-rsvp-body h2{
	font-family: 'DM Serif Display', serif;
	font-size: 20px;
	color: var(--r1-theme-color);
}
.card-rsvp-footer img{
	width: 250px;
	padding: 0.5rem;
	border-width: 8px;
	border-style: double;
	border-color: var(--r1-theme-color);
}
.card-rsvp-footer p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--r3-theme-color);
}
/*envelope*/
.envelope{
	position: relative;
	padding: 0 1.5rem 3.5rem 1.5rem;
	background-color: var(--r2-theme-color);
	text-align: center;
}
.envelope p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--r3-theme-color);
}
.envelope h1{
	font-family: 'Cinzel', serif;
	font-size: 30px;
	margin-bottom: 16px;
	color: var(--r3-theme-color);
}
.envelope img{
	width: 100px;
}
/*countdown*/
.countdown{
	position: relative;
	padding: 3.5rem 1rem;
	background-color: var(--r1-theme-color);
}
.countdown h1{
	position: relative;
	font-family: Whitehella;
	font-size: 36px;
	color: var(--r2-theme-color);
	margin-bottom: -10px;
	text-align: right;
	z-index: 3;
	text-shadow: 2px 2px 4px var(--r1-theme-color);
}
.countdown .card {
	border-width: 0px;
	border-radius: 0 30px 0 30px;
}
.countdown .card .countdown-img{
	height: 450px;
	width: 100%;
	background: url(../img/countdown.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 0 30px 0 0;
}
.countdown .card .card-body {
	text-align: center;
}
.countdown .card .card-body p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--r3-theme-color);
	margin-bottom: 8px;
}
.countdown .card .card-body table{
	margin: auto;
}
.countdown .card .card-body .tg-qj3h{
	font-size:30px;
	text-align:center;
	vertical-align:center;
	color: var(--r1-theme-color);
	padding: 8px 8px 0 8px;
}
.countdown .card .card-body .tg-6nwz{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--r3-theme-color);
	text-align:center;
	vertical-align:center;
}
.countdown .card .card-body .tg-baqh{
	text-align:center;
	vertical-align:center;
}
/*gallery*/
.gallery{
	position: relative;
	padding: 3.5rem 0 3.5rem 0;
	background-color: var(--r2-theme-color);
}
.gallery h1{
	font-family: 'Cinzel', serif;
	font-size: 30px;
	margin-bottom: 16px;
	color: var(--r1-theme-color);
	text-align: center;
}
/*wishes*/
.wishes{
	position: relative;
	padding: 2rem 1rem 2rem 1rem;
	background-color: var(--r1-theme-color);
}
.wishes .container .card{
	border-radius: 20px;
	margin-bottom: 16px;
}

.wishes .container .card h1{
	font-family: 'Cinzel', serif;
	font-size: 30px;
	color: var(--r1-theme-color);
	text-align: center;
}

.wishes .container .card p{ 
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--r3-theme-color);
	text-align: center;
}

.wishes .container .wishes-message{
	overflow:scroll;
	overflow-x:hidden;
	max-height: 80vh;
}

.wishes .container .wishes-message .list-group-item {
	padding: 0.5rem 0.75rem;
	color: var(--r2-theme-color);
	background-color: transparent;
	border: 0px;
}

.wishes .container .wishes-message .list-group-item h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.wishes .container .wishes-message .list-group-item p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.wishes .wishes-closing{
	margin-top: 32px;
	text-align: center;
}

.wishes .wishes-closing p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--r2-theme-color);
	margin-bottom: 8px; 
}

.wishes .wishes-closing h1{
	font-family: Whitehella;
	font-size: 36px;
	color: var(--r2-theme-color);
	margin: 2rem 0;
}
/*page-footer*/
.page-footer{
	background-color: var(--r2-theme-color);
	padding-top: 8px;
	text-align: center;
}

.page-footer h1{
	font-family: Bearetta;
	font-size: 4rem;
	margin-bottom: 16px;
	color: var(--r1-theme-color);
}

.page-footer .container .list-inline .list-inline-item a{
	color: var(--r1-theme-color);
}

.page-footer .footer-copyright{
	font-size: 14px;
	color: var(--r3-theme-color);
}

.page-footer .footer-copyright a{
	font-size: 14px;
	color: var(--r1-theme-color);
	text-decoration:none;
}
